.title {
  color: #f8f9fa;
  margin-left: 10px;
}

.currentPage {
  margin: 0 5px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  color: #f8f9fa;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.character {
  width: 50%;
}

.episodes {
  height: 250px !important;
  overflow-y: scroll;
  min-height: 250px;
  width: 50%;
}

.text {
  font-size: 12px;
  margin-left: 5px;
}

.search {
  width: 400px;
  margin-bottom: 10px;
}

.alert {
  position: absolute;
  width: 400px !important;
  right: 0;
  bottom: 0;
}
